body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: blanchedalmond;
}

header {
    background-color: rgb(2, 2, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: burlywood;
}

.product-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 25%;
    text-align: center;
    margin: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}